
.one
{
	width: 28%;
	float: left;
	margin: 20px;
	padding: 12px;
	color:gold;
}

.two
{
	width: 28%;
	float: left;
	margin: 20px;
	padding: 14px;
	color:blueviolet;
}
.three
{
	width: 28%;
	float: left;
	margin: 20px;
	padding: 10px;
	color:blue;
}

.top-img
{
	border-radius: 5%;
}
h5,p
{
	color: pink;
	line-height: 1.5;
}
.av-img
{
	border-radius: 5%;
}

.av-name
{
	margin-left: 75px;
	margin-top: -35px;
}